<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>



<main>
    <div class="container-fluid">
      <!DOCTYPE html>
      <style>
        div {
            background: linear-gradient(to bottom, #c2220d7b 0%, #ffd900c3 100%)
        }
      </style>
      <body>
        <br>
          <center>
              <FONT style="FONT-SIZE: 50px; FONT-FAMILY: monospace">
                <CENTER><B>
                    <FONT color=white>Home Page</FONT>
                  </B></CENTER>
              </FONT>
          <h2></h2>
          <hr>
          <p></p>
          </center>
          <br>
          <br>
          <br>
          <center><B><FONT color="black" style="FONT-SIZE: 50px; FONT-FAMILY: monospace"> Find your meal!</FONT></B></center>
        <br>
        <center>
        <center>
            <div>
              <table>
                <tbody>
                  <tr>
                  <% if (locals.meal){%>
                    <p>
                      <td> Meal Name: <%= meal.strMeal ? `${meal.strMeal}`: '-'%></td>
                    </p>
                    <tr>
                      <p>
                        <td> Instructions:  <%= meal.strInstructions ? `${meal.strInstructions}`: '-'%></td>
                      </p>
                      
                    </tr>
                    <tr>
                      <td>Tags: <%= meal.strTags ? `${meal.strTags}`: '-'%></td>
                    </tr>
                    <tr>
                      <td> Source: <%= meal.strSource ? `${meal.strSource}`: '-'%></td>
                    </tr>
                    <tr>
                      <td> Link: <a href=<%= meal.strYoutube ? `${meal.strYoutube}`: '-'%>> <%= meal.strYoutube ? `${meal.strYoutube}`: '-'%> </a></td>
                      
                    </tr>
                    <% } %>
                  </tr>
                </tbody>
            </table>
            </div>
        </center>
      </center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </body>
      </html>
    </div>
</main>

<%- include ('../partials/footer') %>
